@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
/*custom font*/
@font-face {
  font-family: 'Tahoma';
  src: local('Tahoma'), local('TahomaBold'), url('./fonts/Tahoma-Bold/Tahoma-Bold.eot'),
    url('./fonts/Tahoma-Bold/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Tahoma-Bold/Tahoma-Bold.woff') format('woff'),
    url('./fonts/Tahoma-Bold/Tahoma-Bold.ttf') format('truetype'),
    url('./fonts/Tahoma-Bold/Tahoma-Bold.svg#Tahoma-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUIRegular';
  src: url('./fonts/SegoeUIRegular/SegoeUIRegular.eot');
  src: url('./fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix')format('embedded-opentype'),
    url('./fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
    url('./fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.home {
  &_wrap {
    display: flex;
    flex-direction: column;
    background-image: url(./img/bg.png);
    background-size: cover;
    height: 650px;
  }
  &_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    p {
      color: #ffffff;
      font-family: 'Tahoma', sans-serif;
      font-weight: normal;
      font-size: 26px;
      margin-left: 127px;
    }
    &_list {
      display: flex;
      flex-direction: row;
      margin-right: 110px;
    }
    &_item {
      list-style-type: none;
      padding: 0 15px 10px 15px;
      a {
        font-size: 18px;
        color: #ffffff;
      }
    }
    &_item:hover {
      padding-bottom: 8px;
      border-bottom: 2px solid #ffffff;
    }
  }
  &_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Open Sans';
    h1 {
      font-weight: bold;
      font-size: 60px;
      margin: 152px 0 12px 0;
    }
    h3 {
      font-weight: 400;
      font-size: 30px;
      font-style: italic;
      text-transform: uppercase;
    }
  }
}
.active {
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  height: 445px;
  border-bottom: 1px solid #cccccc;
  &_title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    h5 {
      font-size: 22px;
      padding: 20px 0;
      font-style: italic;
    }
    p {
      font-size: 16px;
      max-width: 310px;
      width: 100%;
      text-align: left;
      line-height: 17px;
    }
    img {
      width: 175px;
      height: 168px;
      border-radius: 100%;
      overflow: hidden;
      margin: 75px 20px 0 20px;
    }
    &_goals {
      h5 {
        text-align: right;
      }
      p {
        text-align: right;
      }
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 405px;
  border-bottom: 1px solid #cccccc;
  &_title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin: 35px 0;
  }
  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 30px;
      text-transform: uppercase;
      color: #333333;
      width: 320px;
      text-align: right;
      font-weight: 600;
    }
  }
  &_list {
    display: flex;
    justify-content: flex-end;
    width: 405px;
    &_circle {
      width: 23px;
      height: 23px;
      border-radius: 100%;
      background-color: #9b9a9a;
      list-style: none;
      margin: 0 5px;
    }
  }
}
.active_skill {
  background-color: #333333;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 475px;
  &_title {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin: 15px 0;
    color: #000000;
  }
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    &_info {
      margin-right: 140px;
      div {
        margin: 15px 0 10px 0;
        p {
          font-size: 15px;
          color: #000000;
          padding: 5px 0;
        }
        p:last-child {
          color: #888888;
        }
      }
    }
    &_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 32px;
      input,
      textarea {
        width: 435px;
        border: 1px solid #919191;
        padding: 10px 9px;
        font-family: 'SegoeUIRegular', 'Open Sans', sans-serif;
        font-weight: 500;
        color: #838181;
        margin: 10px 0;
      }
      textarea {
        margin: 18px 0;
        resize: none;
      }
      button {
        width: 165px;
        padding: 10px 0;
        margin: 10px auto;
        border: none;
        background-color: #333333;
        font-size: 17px;
        color: #ffffff;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #333333;
  height: 174px;
  color: #ffffff;
  &_contact {
    margin-top: 44px;
    margin-left: 190px;
    p {
      font-size: 15px;
      font-weight: 300;
      padding: 5px 0;
      text-align: left;
      span {
        padding-right: 10px;
        font-weight: 500;
      }
    }
  }
  &_right {
    margin-top: 53px;
    margin-right: 200px;
    p {
      font-family: 'Tahoma', 'Open Sans', sans-serif;
      font-size: 50px;
      font-weight: 700;
    }
  }
}
.error-email {
  color: red !important;
  border-color: red !important;
}

@media screen and (max-width: 748px) {
  .home{
    &_menu { 
      p{
        margin-left: 20px;
      }
      &_list {
        margin-right: 20px;
      }
    }
    &_name {
      h1 {
        font-size: 36px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  .about {
    &_title {
      margin-top: 0px;
    }
    &_content {
      p {
        font-size: 12px;
      }
      img {
        width: 125px;
        height: 105px;
      }
    }
  }
  .skills {
    &_item {
      p {
        width: 187px;
        font-size: 24px;
      }
    }
    &_list {
      max-width: 405px;
      width: 100%;
      &_circle {
        width: 17px;
        height: 17px;
      }
    }
  }
  .contact {
    &_content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &_info {
        display: flex;
        margin: 0;
        >div {
          margin: 0 10px;
        }
      }
    }
  }
  .footer {
    &_contact {
      margin-left: 20px;
    }
    &_right {
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 458px){
  .home{
    &_menu {
      p {
        font-size: 16px;
      }
      &_item a{
        font-size: 14px;
      }
    }
    &_name {
      h1 {
        font-size: 26px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
  .about {
    margin-top: -30px;
    &_title {
      margin: 0;
    }
    &_content {
      flex-direction: column;
      justify-content: flex-start;
      h5 {
        padding-top: 0px;
        padding-bottom: 10px;
      }
      p {
        max-width: 400px;
      }
      &_goals {
        margin-bottom: 15px;
        p{
          text-align: left;
        }
      }
      img {
        display: none;
      }
    }
  }
  .skills {
    &_title {
      margin-bottom: 20px;
    }
    &_item {
      flex-direction: column;
      margin-bottom: 10px;
      p {
        width: 100%;
        text-align: center;
      }
    }
  }
  .contact {
    &_content{
      &_form {
        input, textarea{
          width: 100%;
        }
      }
    }
  }
  .footer {
    
  }
}